<div [formGroup]="authorsForm" class="authors-form-wrapper">
  <label class="authors-form-wrapper__label">Authors:</label>
  <div
    class="author-block"
    formArrayName="authors"
    *ngFor="let author of authorsForm.get('authors').controls; let i = index"
  >
    <div [formGroupName]="i" class="author-block-data">
      <input placeholder="Add name" class="authors-form-wrapper__input" formControlName="name" (input)="updateOptions($event.target.value)"/>
      <button (click)="removeAuthor.emit(i)" type="button">X</button>
      <ul *ngIf="suggestedAuthors.length && optionsOpen" class="suggestions-list">
        <li *ngFor="let name of suggestedAuthors">
          <button type="button" (click)="setValue([name, i])">
            {{name}}
          </button>
        </li>
      </ul>
    </div>
  </div>
  <button (click)="addAuthor.emit()" type="button">Add author</button>
</div>
