<li class="horisontal-alignment-block">
  <div class="course-info">
    <div class="course-info__header horisontal-alignment-block">
      <h3>{{ course.title }}</h3>
      <div class="course-info__header__main-chars">
        <span class="course-info__header__main-chars--duration">
          <fa-icon [icon]="faClock"></fa-icon>
          {{ course.duration | minutesConverter }}
        </span>
        <span class="course-info__header__main-chars--date">
          <fa-icon [icon]="faCalendar"></fa-icon>
          {{ course.creationDate | date }}
        </span>
      </div>
    </div>
    <div class="course-info__description">
      {{ course.description }}
    </div>
  </div>
  <div class="course-controls horisontal-alignment-block">
    <button disabled class="course-controls__edit horisontal-alignment-block">
      <fa-icon [icon]="faPen"></fa-icon>
      Edit
    </button>
    <button
      (click)="onItemDelete.emit(course.id)"
      class="course-controls__delete horisontal-alignment-block"
    >
      <fa-icon [icon]="faTrash"></fa-icon>
      Delete
    </button>
  </div>
</li>
