<div
  class="course-item-wrapper horisontal-alignment-block"
  [ngClass]="{ 'top-rated': course.topRated }"
  [appHighlightElement]="course.creationDate"
>
  <div class="course-info">
    <div class="course-info__header horisontal-alignment-block">
      <div class="course-info__header__title">
        <h3>{{ course.title | uppercase }}</h3>
        <fa-icon *ngIf="course.topRated" [icon]="faStar"></fa-icon>
      </div>
      <div class="course-info__header__main-chars">
        <span class="course-info__header__main-chars--duration">
          <fa-icon [icon]="faClock"></fa-icon>
          {{ course.duration | minutesConverter }}
        </span>
        <span class="course-info__header__main-chars--date">
          <fa-icon [icon]="faCalendar"></fa-icon>
          {{ course.creationDate | date }}
        </span>
      </div>
    </div>
    <div class="course-info__description">
      {{ course.description }}
    </div>
    <div class="course-info__authors">
      Authors:
      <span
        *ngFor="let author of course.authors; let i = index"
        [ngClass]="{'isLast' : i === course.authors.length - 1}"
      >
        {{ author }}
      </span>
    </div>
  </div>
  <div class="course-controls horisontal-alignment-block">
    <button
      [routerLink]="[course.id]"
      class="course-controls__edit horisontal-alignment-block"
    >
      Edit
    </button>
    <button
      (click)="onItemDelete(course.id)"
      class="course-controls__delete horisontal-alignment-block"
    >
      <fa-icon [icon]="faTrash"></fa-icon>
      Delete
    </button>
  </div>
</div>
