<mat-card>
  <mat-card-title>
    Registration
  </mat-card-title>
  <form (submit)="signUp(userEmail, userPassword, fisrtName, lastName)">
    <mat-card-content>
      <mat-form-field>
        <mat-label>First Name:</mat-label>
        <input
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="fisrtName"
          matInput
          placeholder="Enter first name"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name:</mat-label>
        <input
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="lastName"
          matInput
          placeholder="Enter last name"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>E-mail:</mat-label>
        <input
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="userEmail"
          matInput
          placeholder="Enter e-mail"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="userPassword"
          matInput
          type="password"
          placeholder="Enter password"
        />
      </mat-form-field>
    </mat-card-content>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      disabled="{{ !userEmail || !userPassword || !fisrtName || !lastName }}"
    >
      Register
    </button>

    <span class="suggestion-link">
      Already have an account? <a [routerLink]="['/login']">Sign In!</a>
    </span>
  </form>
</mat-card>
