<mat-card>
  <mat-card-title>
    Registration
  </mat-card-title>
  <form [formGroup]="form" (ngSubmit)="signUp()">
    <mat-card-content>
      <mat-form-field>
        <mat-label>First Name:</mat-label>
        <input
          matInput
          placeholder="Enter first name"
          formControlName="firstName"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name:</mat-label>
        <input
          matInput
          placeholder="Enter last name"
          formControlName="lastName"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>E-mail:</mat-label>
        <input
          matInput
          type="email"
          placeholder="Enter e-mail"
          formControlName="email"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input
          matInput
          type="password"
          placeholder="Enter password"
          formControlName="password"
        />
      </mat-form-field>
    </mat-card-content>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
    >
      Register
    </button>

    <span class="suggestion-link">
      Already have an account? <a [routerLink]="['/login']">Sign In!</a>
    </span>
  </form>
</mat-card>
