<div class="wide-container courses-list">
  <div class="clearfix courses-list__add-btn-container">
    <button [routerLink]="['new']">
      + Add course
    </button>
  </div>

  <ul>
    <li *ngFor="let course of courses | orderBy: 'creationDate':'desc'">
      <app-courses-list-item
        [course]="course"
      ></app-courses-list-item>
    </li>
  </ul>

  <div *ngIf="!courses.length" class="courses-list__empty-message">
    No data found. Feel free to create new course!
  </div>

  <button
    *ngIf="!lastCoursesIntervalLoaded"
    (click)="loadMore.emit()"
    class="courses-list__load-more"
  >
    Load more
  </button>
</div>
