.wrapper {
  display: flex;
}

button {
  background: transparent;
  font-size: 14px;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}

fa-icon {
  margin-right: 4px;
  font-size: 18px;
}
