<div class="wide-container courses-list">
  <div class="clearfix courses-list__add-btn-container">
    <button>
      + Add course
    </button>
  </div>

  <ul>
    <li *ngFor="let course of courses">
      <app-courses-list-item (onItemDelete)="deleteCourse.emit($event)" [course]="course"></app-courses-list-item>
	</li>
  </ul>

  <div *ngIf="!courses.length" class="courses-list__empty-message">
	  No data found. Feel free to create new course!
  </div>

  <button (click)="loadMore.emit()" class="courses-list__load-more">
    Load more
  </button>
</div>
